.tabs {
    display: flex;
    flex-direction: column;
}

.tabs>input {
    appearance: none;
}

.tabs>label {
    width: 15vw;
    padding: 1rem 5rem;
    background: #ddd;
    margin: 1rem 0;
    border-radius: .3rem;
    transition: background 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs>label:hover {
    background: #bbb;
    color: black;
    cursor: pointer;
}

.tabs>input:checked+label {
    background: var(--darkblue);
    color: white;
    cursor: pointer;
    position: relative;
}

.tabs>input+label::after {
    content: '';
    border: 0 solid var(--darkblue);
}

.tabs>input:checked+label::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7.5vw solid transparent;
    border-right: 7.5vw solid transparent;
    border-top: 7.5vw solid var(--darkblue);
    position: absolute;
    left: 0;
    top: 97.5%;
    z-index: -10;
    transition: border-top .3s;
    transition-delay: .1s;
}

.tabs>label>div>svg {
    font-size: 3rem;
}

.tab-content {
    transition: display 1s;
}