.tabs {
    display: flex;
    flex-direction: column;
}

.tabs>input {
    appearance: none;
}

.tabs>label {
    width: 20vw;
    padding: 1rem 5rem;
    background: #ddd;
    margin: 1rem 0;
    border-radius: .3rem;
    transition: background 0.3s, color 0.3s;
}

.tabs>label:hover {
    background: #bbb;
    color: black;
    cursor: pointer;
}

.tabs>input:checked+label {
    background: #252939;
    color: white;
    cursor: pointer;
}

.tabs>label>div>svg {
    font-size: 2rem;
}

.tab-content {
    color: white;
    /* position: absolute; */
    width: 30vw;
    height: 20rem;
    display: flex;
    background: #252939;
    top: 20rem;
}